
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  body {
    @apply m-0 p-0;
  }
}
.custom-scrollbar::-webkit-scrollbar {
  height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6; /* gray-100 background */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #ef4444, #be185d); /* red-500 to pink-700 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right, #dc2626, #9d174d); /* red-600 to pink-800 */
}
